{% extends 'base.html.twig' %}
{% block nomPage %}

	<h1>Détails de l'entreprise
	</h1>


	<table>
		<tbody>
			<tr>
				<th>
					Nom
				</th>
				<td>
					{{entreprise.nom}}
				</td>
			</tr>
			<tr>
				<th>
					Adresse
				</th>
				<td>
					{{entreprise.adresse}}
				</td>
			</tr>
			<tr>
				<th>
					Activité
				</th>
				<td>
					{{entreprise.activite}}
				</td>
			</tr>
			<tr>
				<th>
					site
				</th>
				<td>
					{{entreprise.site}}
				</td>
			</tr>
			<tr>
				<th>
					Stages Proposés
				</th>
				<td>
					<table>
						<tbody>
							{% for stage in stages %}
								<tr>
									<td>
										<a class="nav-link" href="{{path('ProStage_stage', {id:stage.id})}}">
											{{stage.id}}
										</a>
									</td>
									<td>
										{{stage.titre}}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
