{% extends 'base.html.twig' %}
{% block nomPage %}

<h1>
	Voici la liste des entreprises
	{% if is_granted('ROLE_ADMIN') %}
		<a href="{{path('Prostage_ajout_entreprise')}}">
			<i class="icon-plus-1"></i>
			<button class="btn btn-dark">
				Ajouter une entreprise
			</button>
		</a>
	{% endif %}

</h1>

<table>
	<thead>
		<tr>
			<th>
				#
			</th>
			<th>
				Nom de l'entreprise
			</th>
		</tr>
	</thead>
	<tbody>
		{% for entreprise in entreprises %}
			<tr>
				<td>
					<a class="nav-link" href="{{path('ProStage_detail_entreprise', {id:entreprise.id})}}">
						{{entreprise.id}}</td>
				</td>
				<td>
					{{entreprise.nom}}</td>
				{% if is_granted('ROLE_USER') %}
					<td>
						<a class="nav-link" href="{{path('ProStage_modification_entreprise', {id:entreprise.id})}}">
							modifier
						</a>
					</td>
				{% endif %}

			</tr>
		</a>
	</tbody>
</tr>{% endfor %}</tbody></table>{% endblock %}
