{% extends "base.html.twig" %}
{% block nomPage %}
    {% if acion=="ajouter" %}
        Ajouter un Stage
    {% else %}
        Modifier un Stage
    {% endif %}
{% endblock %}

{% block liste %}
    {{ form_start(vueFormulaireStage) }}
        {{ form_row(vueFormulaireStage.titre) }}
        {{ form_row(vueFormulaireStage.missions) }}
        {{ form_row(vueFormulaireStage.contact) }}
        {{ form_row(vueFormulaireStage.entreprise) }}
        {{ form_row(vueFormulaireStage.formations) }}
        <button type="submit" class="btn btn-primary"> Valider </button>
    {{ form_end(vueFormulaireStage) }}
{% endblock %}