{% extends 'base.html.twig' %}
{% block nomPage %}
	<h1>
		Bienvenue sur ProStage
	</h1>
{% endblock %}

{% block liste %}
	<p>
		voici quelques stages:
		{% if is_granted('ROLE_USER') %}
			<a href="{{path('ProStage_ajout_stage')}}">
				<i class="icon-plus-1"></i>
				<button class="btn btn-dark">
					Ajouter un stage
				</button>
				<span class="sr-only">(current)</span>
			</a>
		{% endif %}

	</p>

	<table>
		<thead>
			<tr>
				<th>#</th>
				<th>Titre</th>
				<th>Entreprise</th>
				<th>Adresse Entreprise</th>
			</tr>
		</thead>
		<tbody>
			{% for stage in stages %}
				<tr>

					<td>
						<a class="nav-link" href="{{path('ProStage_stage', {id:stage.id})}}">
							{{stage.id}}
						</a>
					</td>
					<td>
						{{stage.titre}}
					</td>
					<td>
						{{stage.entreprise.nom}}
					</td>
					<td>
						{{stage.entreprise.adresse}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
